.main-container{
    /* width: calc(100% - 70px); */
    margin: 90px 100px 180px;
  }
.card-profile{
    display: flex;
    border-top: 1px solid #bbb;
  }
  
.card-title{
    margin-bottom: 25px;
}

.content-file{
    width: 50%;
    height: auto;
    border-right: 1px solid #bbb;
    margin-top: 20px;
}

.content-title{
    color: #555;
}

.name-title{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.form-input-profile {
    padding: 4px 10px;
    font-size: 16px;
}

.title-profile{
    margin-right: 16px;
    font-size: 15px;
    width: 20%;
    text-align: right;
    color: rgba(85,85,85,.8);
}

.content{
    font-size: 15px;
}

.content-input{
    width: 80%;
}

.form-profile{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.avatar-profile{
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.avatar-file{
    margin-left: 10%;
}

.choose-avat{
    font-size: 14px;
    margin: 15px 0;
    display: inline-block;
}
.note{
    color: #999;
}
.content{
    margin-bottom: 5px;
}
.submit{
    margin-top: 20px;
    margin-left: calc(20% + 0.8rem);
    font-size: 14px;
    padding: 5px 15px;
    color: #fff;
    background: #0071c2;
    border-style: none;
    border-radius: 3px;
}
.submit:hover{
    background: #0099FF;
    cursor: pointer;
}